---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2 class='header-title'>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/iamkushagraraj" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/KushagraGitter" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	.header-title {
	background: radial-gradient(#e91e63,#ffeb3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 2rem;
	}
</style>
